:root{
  --cw-size: 220px;
  --cw-scale: 3;
  --cw-chao-w: 30px;
  --cw-chao-h: 29px;

  --cw-font: "MS UI Gothic", sans-serif;
  --cw-text: #000;
  --cw-link: #006400;

  --cw-red-1:#ff7c7c;
  --cw-red-2:#c90a0a;
  --cw-border:#6ecbff;
}


.chao-webring{
  position:relative;
  width:var(--cw-size);
  height:var(--cw-size);
  font-family:var(--cw-font);
  color:var(--cw-text);
  image-rendering:pixelated;
  filter: drop-shadow(0 4px 8px rgba(0,0,0,.35));
  box-sizing:border-box;
}
.chao-webring::before{
  content:"";
  position:absolute;
  inset:0;
  background:url("https://chaogarden.netlify.app/widget/assets/bg-frame.png") center/cover no-repeat;
  z-index:-1;
}

/* name box */
.cw-nameplate{
  position:absolute;
  top:12px;
  left:50%;
  transform:translateX(-50%);
  width:calc(var(--cw-size) - 20px);
  background:#fff;
  border:2px solid var(--cw-border);
  border-radius:4px;
  padding:6px 10px 8px;
  font-size:15px;
  line-height:1.3;
  box-shadow:
    inset 1px 1px 2px rgba(255,255,255,.85),
    inset -1px -1px 2px rgba(0,0,0,.12),
    0 0 12px rgba(0,0,0,.2);
  overflow-wrap:anywhere;
  text-align: center;
}
.cw-nameplate a{
  color:var(--cw-link);
  text-decoration:none;
  font-weight:bold;
}
.cw-nameplate a:hover{
  text-decoration:underline;
}

.cw-chao{
  position:absolute;
  top:75%;
  left:50%;
  transform:translate(-50%, -50%);
  width:calc(var(--cw-chao-w) * var(--cw-scale));
  height:calc(var(--cw-chao-h) * var(--cw-scale));
}
.cw-chao img{
  width:var(--cw-chao-w);
  height:var(--cw-chao-h);
  transform:scale(var(--cw-scale));
  transform-origin:top left;
  display:block;
}

/* arrows */
.cw-arrows{
  position:absolute;
  top:66%;
  left:0;
  right:0;
  transform:translateY(-50%);
  display:flex;
  justify-content:space-between;
  padding:0 10px;
  pointer-events:none;
}

.cw-btn{
  width:34px;
  height:34px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-size:20px;
  line-height:34px;
  color:#fff;
  background:linear-gradient(to bottom,var(--cw-red-1),var(--cw-red-2));
  box-shadow:0 3px 5px rgba(0,0,0,.35), inset 0 1px 0 rgba(255,255,255,.6);
  transition:transform .12s, box-shadow .12s;
  text-decoration:none;
  display:inline-block;
  text-align:center;
  pointer-events:auto;
}
.cw-btn:hover{
  transform:translateY(-2px) scale(1.08);
  box-shadow:0 5px 7px rgba(0,0,0,.45), inset 0 1px 0 rgba(255,255,255,.8);
}
.cw-btn:focus,
.chao-webring a:focus{ outline:none; }

/* join link*/
.cw-links{
  position:absolute;
  bottom:4px;
  left:50%;
  transform:translateX(-50%);
  font-size:12px;
  white-space:nowrap;
}
.cw-links a{
  color:var(--cw-link);
  text-decoration:none;
}
.cw-links a:hover{
  text-decoration:underline;
}
